/* Base Styles */
* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: sans-serif;
}

.main-container {
    display: flex;
}

input:focus {
    border: none;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002062;
    height: 100vh;
    width: 40vw;
}

.content h1 {
    font-size: 35px;
    padding-bottom: 30px;
}

.img img {
    height: 100vh;
    width: 60vw;
}

.logo img {
    height: 60px;
    width: 350px;
    margin: 40px 89px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inputs input {
    width: 290px;
    height: 40px;
    border: none;
    background-color: #0f2d6b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: transparent;
}

.sms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    background-color: #0f2d6b;
    height: 40px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pass input {
    border-right: none !important;
    width: 260px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #0f2d6b;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#eye {
    padding-right: 20px;
}

.forgot {
    width: 330px;
    padding-top: 10px;
    text-align: right;
}

.signin button {
    margin-top: 50px;
    width: 345px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #4671C6A6;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #9B9B9B;
    margin-top: 30px;
}

hr {
    color: #9B9B9B;
    width: 165px;
}

.options {
    margin-top: 30px;
}

.options p {
    text-align: center;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f2d6b;
    width: 345px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#face,
#face-p {
    padding-left: 10px;
}

#goo {
    padding-right: 10px;
}

#app {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #4671c6;
}

#acc {
    line-height: 17px;
}

/* Media Queries */

/* Medium Screen (max-width: 1060px) */
@media screen and (max-width: 1060px) {
    .img img {
        display: none;
    }

    .content {
        height: 100%;
        width: 100vw;
    }

    #acc {
        padding-bottom: 120px;
    }
}

/* Small Screen (max-width: 768px) */
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 28px;
        padding-bottom: 20px;
    }
    .sms,.eye{
        height: 35px;
    }
    #pass input{
        width: 215px;
    }
    .inputs input {
        width: 250px;
        height: 35px;
    }

    .signin button {
        width: 280px;
        height: 40px;
    }

    .google {
        width: 280px;
        height: 40px;
    }
}

/* Extra Small Screen (max-width: 480px) */
@media screen and (max-width: 480px) {
    /* .content {
        padding: 10px;
    } */

    .logo img {
        height: 50px;
        width: 250px;
        margin: 20px 0;
    }

    .inputs input {
        width: 200px;
        /* height: 30px; */
    }

    .signin button {
        width: 230px;
        height: 35px;
    }
    .sms,.eye{
        height: 35px;
    }
    #pass input{
        width: 170px;
    }

    .google {
        width: 230px;
        height: 35px;
    }

    .or hr {
        width: 100px;
    }
}
